.container{
    padding: 10px 30px 20px;
    background: linear-gradient(120deg, #f0f4f9, #dff2fa);
}
.products{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:25px;
    margin-bottom: 40px;
}
